@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
*{
    margin: 0;
    padding: 0;
 
}
main{
    background-image: url(images/gulfer-ergin-LUGuCtvlk1Q-unsplash.jpg);
    min-height: calc(100vh - 9vh);

}
.navbar h1,.aboutlib{
    font-family: "rubik distressed";
}
.navbar h1,.navbar ul{
    background-color: transparent;
    color:black;
    width:49vw;
    height:30px;
}
.navbar,ul{
    list-style: none;
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1vw;
    justify-content: end;
    float:right;
}

.navbar ul li:hover{
    font-weight: bolder;
    cursor: pointer;
}
.navbar ul li{
    border-right: 2px solid orange;
    border-radius: 0px;
}
a{
    color: black;
    text-decoration: none;
}
.image{
    display: inline-block;
    margin-top: 20px;
    margin-left: 1vw;
    
}
.image h2{
    border: 2px solid black;
}
.image img{
    width:40vw;
    margin-top: 4px;
    border: 2px solid black; 
}


.about{
    margin: 4vh;
    display: inline-block;
    float:right;
    width:50vw;
    height:60vh;
    border: 2px solid black;
    border-style: inset;
}
.about h2,.image h2{
    text-align: center;
    height:4vh;
}
.aboutlib{
    height:56vh;
    width:50vw;
    overflow: scroll;
}

.copyright{
    display: flex;
    background-color: black;
    color: white;
    height: 9vh;
    justify-content: center;
    align-items: center;
    
}

