*{
    margin: 0;padding: 0;
}
main{
    background-image: url(images/kelly-sikkema-2q_frVRXWfQ-unsplash.jpg);background-size: 100vw ;
    min-height: calc(100vh);
}
.l_navbar h1,.l_navbar ul{
    background-color: transparent;
    color:black;
    width:49vw;
    height:30px;
}
.l_navbar,ul{
    list-style: none;
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1vw;
    justify-content: end;
    float:right;
}
.l_navbar ul li:hover{
    font-weight: bolder;
    cursor: pointer;
}
.l_navbar ul li{
    border-right: 2px solid orange;
    border-radius: 0px;}
a{
    color: black;
    text-decoration: none;
}
.loginheading,.login,p{
    display: inline;
    transform: skew(20deg);
}
.loginheading{
    position: fixed;
    left:727px;
    top:160px;
}
.login #p1{
    position: fixed;
    left:540px;
    top:221px;
}
.login #user1{
    position: fixed;
    left:619px;
    top:223px;
}

.login #p2{
    position: fixed;
    left:540px;
    top:270px
}
.login #pass1{
    position: fixed;
    left:615px;
    top:270px;
}
.login #p3{
    position: fixed;
    left: 615px;
    top:300px;
}
.login .subbut{
    position: fixed;
    left:615px;
    top:320px;
}