*{
    margin: 0;padding: 0; 
    
}
.navbar{
    display:flex;
    flex-direction: row;
    background-color: black;
    color: white;
    
    /* padding: 15px;
    background-color: black;
    color: white;
    height: 18vh;
    width:100vw;
    display: inline-block; */
 
}
li{
    display: flex;
    display: inline-block;
    padding: 20px;
    font-size: 3vh;

}
main{
    display: flex;
    justify-content: center;
    margin-left: 350px;
    height: 70vh;
    width: 100vh;
    background-color: blueviolet;
    font-size: 23px;
    font-family: 'Syne Mono','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inputs{
    /* margin: 6px;
    padding-top: 8px;
    padding-left: 4px;
    height: 82px;
    width: 295px;
    left: 476px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:12vh;
    width: 15vw;
    text-align: center;
    background-color: orange;
    word-spacing: 2vh;
    border: rgb(23, 107, 45);
    border-style: groove;
    border-radius: 10px;
    position: relative;
    /* flex-shrink: initial; */
    

}
.heading{
    text-align: center;
    align-content: center;
}
.agreements{
    margin: auto;
}